{% extends "default.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container theme-showcase" role="main">

        <div class="row marketing">

            <div class="col-lg-4 col-lg-offset-4 well">
                <h3>Login</h3>

                {% block alerts %}
                    {% if alerts %}
                        {% for alert in alerts %}
                            <div class="alert alert-{{ alert.priority }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                {% if alert.title != '' %}
                                    <strong>{{ alert.title }}</strong>
                                {% endif %}
                                {{ alert.message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endblock %}

                <form role="form" action="login.html#login" method="post">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control required" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control required" id="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>
{% endblock %}